.btn{
    display: inline-block;
    padding: 15px 40px;
    margin-right: 18px;
    margin-bottom: 18px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    background-color: #649;
    border: 2px solid #649;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px #7778;
    }
    
.btn:hover{
       box-shadow: 0 4px 12px #0008;
       background-color: #fff;
       color:#649;}
       
.btn.btn-white {
    background-color: #fff;
    color:#649;}

.btn.btn-white:hover {
    background-color:#649;
    color: #fff;}
        
