body {font-family: system-ui, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
   sans-serif;
  }

   .container {
   display: inline-block;
   width: 1000px;
   margin: 0 calc(50% - 500px) 60px;
  }
  
  /* header */

  .logo {
    float: left;
  }

  .main-nav {
    float: right;
  }

  .main-nav .link{
    color: #333;
    text-decoration: none;
    font-size: 20px;
    margin-left: 50px;
  }

  .main-nav .link:first-child {
    margin: 0;
  } 

  .main-nav .link:hover {
    text-decoration: underline;
    color:#649;
    cursor: pointer;}

/*main*/

.left-column {
  width: 40%;
  float: left;
  margin-top: 50px;
}


.main-title {
  margin: 0;
  font-size: 60px;
}

div > span{
  display: block;
  font-weight: 100;
}

.description {

}


.right-column {
  width: 60%;
  float: right;
}


/* footer */

.socials {
  float:left;
  color: #777;
  font-size: 30px;
}
.socials:hover {
  color:#649;
}
div a{
}

.copyright {
  float:right;
}